<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
    <style>
        #feed {
            position: static;
        }
        #map {
            position: inherit;
        }
    </style>
</head>
<body>
    <!-- 피드 -->
    <div id="feed">
        <h1>
            feed1
        </h1>
        <h1>
            feed2
        </h1>
    </div>
    <!-- 지도 화면 -->
    <div id="map">

        <!-- 지도 크기 지정-->
        <div id="map" style="width:1200px;height:630px;"></div>
        <!-- api키를 가져온다-->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eb7111e6861b9a4cfde6eb263dbb5ff7"></script>
        <script>
            var container = document.getElementById('map');
            var options = {
                /* 위도 경도 파일 */
                center: new kakao.maps.LatLng(36.397110, 127.402816),
                level: 3
            };

            var map = new kakao.maps.Map(container, options);
            
        </script>
    </div>
    
</body>
</html>